// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@use '../abstracts'
@use '../themes'
/**
 * Set up a decent box model on the root element
 */
html
  box-sizing: border-box

  // @include abstracts.respond(mobile-l)
  //   font-size: 80%

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: border-box

#root
  height: 100vh
  background: var(--main-bg)
  // @media (prefers-color-scheme: dark)
  //   @extend .theme-1

.calculator

  width: 30%
  height: 100%
  margin: auto
  padding-top: 10vmin
  background: var(--main-bg)

  position: relative
  font-size: 1.2rem
  font-family: 'Big Shoulders Stencil Display', cursive

  @include abstracts.respond(laptop-md)
    width: max-content

  @include abstracts.respond(mobile-l)
    width: 90%
    padding: 1rem
    display: flex
    flex-direction: column

  @include abstracts.respond(mobile-sml)
    width: 100%
