// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
@use '../abstracts'

.themes-container
    display: flex
    justify-content: space-between
    margin-bottom: 2rem

.themes-toggle
    display: flex
    justify-content: space-between
    flex: 0.2 1 3rem

.toggle
    flex: .5 1 auto
    &-btns
        background: var(--toggle-keypad-bg)
        border-radius: 14px
    &-number:not(:last-child)
        margin-right: 0.8rem
    &-number:first-child
        margin-left: .5rem
    &-number
        font-size: 1rem

.calculator__screen
    margin-bottom: 2rem
    padding: 1.5rem 1rem
    background: var(--screen-bg)

    @include  abstracts.border-radious
    & > *
        text-align: right
    &-formula
        font: bold 1rem/2rem Share Tech Mono, monospace
        min-height: 2rem

    &-display
        font-size: 3rem
        line-height: 2.625rem

.key-container
    display: grid
    grid-template-columns: repeat(4,[key-start]1fr [key-end])
    justify-items: center
    gap: 1rem

    padding: 1.5rem 1rem
    background: var(--toggle-keypad-bg)
    @include  abstracts.border-radious

.btn-7, .btn-4,.btn-1, .btn-dec
    grid-column: key-start 1 / key-end 1

.btn-8, .btn-5,.btn-2, .btn-0
    grid-column: key-start 2 / key-end 2

.btn-9, .btn-6,.btn-3, .btn-div
    grid-column: key-start 3 / key-end 3
.btn-del, .btn-add,.btn-sub, .btn-mul
    grid-column: key-start 4 / key-end 4
    justify-self: end

.btn-clr
    grid-column: key-start 1 / key-end 2

.btn-eq
    grid-column: key-start 3 / key-end 4
